<div class="calendar">
    <f-var name="month" value="getMonthDisplay(appProxy.calYear, appProxy.calMon)"></f-var>
    <div class="cal-month">
        <span class="material-symbols-outlined cal-last-month" evt:click="nextMonth(this, -1)">
            arrow_left
        </span>
        {{month.name}}
        <span class="material-symbols-outlined cal-next-month" evt:click="nextMonth(this, 1)">
            arrow_right
        </span>
    </div>
    <div class="legend">
        <f-for from="getEventTypes()" as="eventType">
            <span f:class="'event-icon ' + eventType.color"></span>{{eventType.name}}
            &nbsp;&nbsp;&nbsp;
        </f-for>
    </div>
    <f-for from="month.displayDays" as="day" index="i">
        <div class="calendar-day" f:main-month="day.mainMonth" f:today="day.today" f:style="'order: ' + i" evt:click="appProxy.eventViewId = i">
            <span class="cal-week">
                {{day.weekDayDisplay}}
            </span>
            <br>
            <span class="cal-day">
                {{day.dayOfMonthDisplay}}
            </span>
            <br>
            <f-for from="day.events" as="event"><span f:class="'event-icon ' + event.color"></span></f-for>
        </div>
    </f-for>
    <div class="calendar-events" f:style="'order: ' + appProxy.eventViewMod + '; --mod-id: ' + (appProxy.eventViewId % 7)" f:visible="appProxy.eventViewId >= 0">
        <f-var name="events" value="month.displayDays[appProxy.eventViewId]?.events"></f-var>
        <div>
            <f-if check="events != null">
                <f-if check="events.length > 0">
                    <f-for from="events" as="event">
                        <div class="event-link" evt:click="openEvent(event)">
                            <span f:class="'event-icon ' + event.color"></span>{{event.fullDescription()}}
                        </div>
                    </f-for>
                </f-if>
                <f-else>
                    No events
                </f-else>
            </f-if>
        </div>
    </div>
</div>