<div class="daypreview">
    
    <f-for from="[3, 6, 9, 12, 15, 18, 21]" as="stamp">
        <span class="preview-line" f:style="'--stamp-num: ' + stamp">{{stamp}}</span>
    </f-for>
    <f-for from="[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23]" as="stamp">
        <span class="preview-line secondary" f:style="'--stamp-num: ' + stamp"></span>
    </f-for>

    <f-var name="events" value="getEvents(getUseDate())"></f-var>
    <div class="preview-events">
        <f-for from="events" as="event">
            <f-var def="st: event.startTime, et: event.endTime"></f-var>
            <f-var def="startHour: st == null ? 0 : st.getHours() + st.getMinutes() / 60.0, endHour: et == null ? 24 : et.getHours() + et.getMinutes() / 60.0"></f-var>
            <div class="preview-event" f:style="`--start-hour: ${startHour}; --end-hour: ${endHour}`" evt:click="openEvent(event)">
                {{event.description}}
            </div>
        </f-for>
    </div>
    <div class="preview-day-name">
        {{appProxy.previewDayName}}
    </div>
</div>