<div class="event-display">
    <f-var name="event" value="appProxy.displayEvent"></f-var>
    <div>Day: {{event.dateDisplay}}</div>
    <div>Start Time: {{event.startDisplay}}</div>
    <div>End Time: {{event.endDisplay}}</div>
    <div f:class="event.location != null ? 'event-link' : ''" evt:click="event.location != null ? openDisplayEventLocation() : (_=>_)()">Location: {{event.location ?? "None defined"}}</div>
    <div>More info:<br>{{event.fullInfo}}</div>
    <button evt:click="alert('Not yet available')"><span class="material-symbols-outlined">input</span>Add to calendar</button>
</div>