<div class="main-nav-item" f:current="appProxy.page == item.page" f:alignEnd="item.alignEnd" evt:click="appProxy.page = item.page">
    <span class="main-nav-icon material-symbols-outlined">{{item.icon}}</span>
</div>