No settings yet.
But will feature:
<ul>
    <li>
        Notification settings
    </li>
    <li>
        Optical settings
    </li>
    <li>
        Account settings
    </li>
    <li>
        Data/Timetable reset
    </li>
</ul>
