@charset "UTF-8"; 

:root{
    --nav-size: 64px;
    --calendar-width: 560px;
    --daypreview-width: 400px;
    --daypreview-height: 800px;
}

html, body, #app {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

button{
    border: none;
    border-radius: 10px;
    background-color: #535395db;
    color: white;
    font-weight: 500;
    padding: 0 25px 0 5px;
    text-align: center;
    margin: 4px;
    height: 52px;
    cursor: pointer;
}

button, button .material-symbols-outlined{
    font-size: 32px;
    line-height: 32px;
}
button .material-symbols-outlined{
    float: left;
    margin: 0 15px 0 5px;
}


#app{
    display: flex;
}

#main-nav{
    width: var(--nav-size);
    height: 100%;
    background-color: #363657;
    display: flex;
    flex-direction: column;
}

.main-nav-item{
    cursor: pointer;
    user-select: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: var(--nav-size);
    height: var(--nav-size);
}

.main-nav-item[current=true]{
    color: bisque;
}

.main-nav-item[alignEnd=true]{
    margin-top: auto;
}

.main-nav-icon{
    font-size: calc(var(--nav-size) * (2/3));
    line-height: var(--nav-size);
}

#main-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-header{
    width: 100%;
    height: calc(var(--nav-size) * 5/4);
    line-height: calc(var(--nav-size) * 5/4);
    text-align: center;
    background-color: #58588b;
}

#main-header h1{
    margin: 0;
    color: white;
}

#timetable{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: auto;
}

#home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

#campus{
    width: 100%;
    height: 100%;
    display: flex;
}

#campus > iframe {
    width: 100%;
    height: 100%;
}

/* Calendar */

.calendar{
    display: flex;
    width: var(--calendar-width);
    height: min-content;
    flex-wrap: wrap;
    font-weight: bold;
}

@keyframes cal-disappear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(calc(var(--calendar-width) / 4));
        opacity: 0;
    }
}

.calendar.disappear{
    animation: 0.15s ease-out 0s cal-disappear;
    transform: translateY(calc(var(--calendar-width) / 4));
    opacity: 0;
}

@keyframes cal-appear {
    0% {
        transform: translateY(calc(var(--calendar-width) / -4));
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.calendar.appear{
    animation: 0.15s ease-out 0s cal-appear;
    transform: translateY(0);
    opacity: 1;
}

.calendar-day{
    width: calc(var(--calendar-width) / 7);
    height: calc(var(--calendar-width) / 7);
    text-align: center;
    color: black;
    cursor: pointer;
    user-select: none;
}

.cal-month{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: larger;
    order: -1;
}

.cal-last-month{
    float: left;
    line-height: 48px;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}

.cal-next-month{
    float: right;
    line-height: 48px;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}

.cal-week{
    font-size: small;
    color: gray;
}
.calendar-day[main-month=false]{
    color: gray;
}

.calendar-day[today=true]{
    color: lightcoral;
}

@keyframes ev-appear {
    0% {
        height: 0px;
    }
    100% {
        height: var(--height);
    }
}

.calendar-events[visible=true]{
    --bg: rgba(0, 0, 0, 0.1);
    width: 100%;
    --height: calc(var(--calendar-width) / 7);
    height: var(--height);
    background-color: var(--bg);
    animation: 0.35s ease-out 0s ev-appear;
    padding: 8px;
    position: relative;
}

.calendar-events[visible=false]{
    height: 0px;
}
.calendar-events[visible=true]::before{
    position: absolute;
    top: -28px;
    left: calc(20px + var(--mod-id) * var(--calendar-width) / 7);
    content: "arrow_drop_up";
    font-family: "Material Symbols Outlined";
    font-size: 40px;
    color: var(--bg);
    transition: left 0.2s ease-out;
}

.calendar-events > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

.event-link{
    cursor: pointer;
    color: rgb(47, 88, 165);
    text-decoration: underline;
}

.event-icon{
    line-height: 5px;
    top: -10px;
    position: relative;
}

.event-icon::before{
    content: "▪";
}

.event-icon.blue{
    color: blue;
}

.event-icon.red{
    color: red;
}

.legend {
    font-size: smaller;
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.05);
}

:is(.legend, .calendar-events) .event-icon{
    line-height: unset;
    top: unset;
    position: unset;
}

/* Day Preview */
.daypreview{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: var(--daypreview-height);
    width: var(--daypreview-width);
    background-color: rgba(0, 0, 0, 0.1);
}

.preview-day-name{
    width: 100%;
    font-weight: bold;
    font-size: larger;
    position: absolute;
    text-align: center;
    top: -32px;
}

.preview-line{
    display: block;
    width: 100%;
    height: 1px;
    line-height: 1px;
    top: calc((var(--stamp-num) / 24) * 100%);
    position: absolute;
    z-index: 1;
}
.preview-line::after{
    display: block;
    content: " ";
    width: 100%;
    right: 0px;
    height: 1px;
    line-height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.preview-line.secondary::after{
    background-color: rgba(0, 0, 0, 0.075);
}

.preview-events{
    display: flex;
    width: calc(var(--daypreview-width) - 24px);
    height: var(--daypreview-height);
    flex-direction: row;
    justify-content: stretch;
}

.preview-event{
    height: calc(((var(--end-hour) - var(--start-hour)) / 24) * 100%);
    width: 100%;
    border-radius: 8px;
    outline: solid black 1px;
    background-color: rgba(0, 0, 255, 0.1);
    margin-top: calc((var(--start-hour) / 24) * var(--daypreview-height));
    padding: 0px 4px 0px 4px;
    text-align: center;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Event Display */
.event-display{
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: flex-start;
    gap: 20px;
}

.upcoming-events{
    font-size: larger;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.075);
    width: max-content;
    gap: 15px;
}

.upcoming-header{
    font-size: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.075);
}

.upcoming-event{
    cursor: pointer;
    margin: 0 15px;
    border-bottom: solid;
}

.upcoming-title{
    background-color: rgba(1, 72, 153, 0.075);
}

/* Google Fonts */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 200,
    'opsz' 48
}