<div id="timetable">
    <f-in in-id="daypreview"></f-in>
    <f-in in-id="calendar"></f-in>
    <div style="display: flex; flex-direction: column; align-self: flex-start; margin-top: 36px;">
        <button evt:click="alert('Not yet available')"><span class="material-symbols-outlined">edit_calendar</span>Edit Lecture Schedule</button>
        <button evt:click="alert('Not yet available')"><span class="material-symbols-outlined">add_circle</span>Add new Event</button>
        <button evt:click="alert('Not yet available')"><span class="material-symbols-outlined">cloud_download</span>Import CMS Events</button>
        <button evt:click="alert('Not yet available')"><span class="material-symbols-outlined">cloud_download</span>Import Moodle Events</button>
    </div>
</div>