<div class="upcoming-events">
    <div class="upcoming-header">
        Upcoming Events
    </div>
    <f-for from="getUpcomingEvents()" as="event">
        <div class="upcoming-event" evt:click="openEvent(event)">
            <div class="upcoming-title">{{event.dateDisplay}}{{event.startTime != null ? ": " + event.startDisplay : ""}}</div>
            <div class="upcoming-info">{{event.description}}</div>
        </div>
    </f-for>
</div>